@import "tailwindcss";

@source "./**/*.tsx";
@source "../index.html";

@theme {
  --radius-3xl: 12px;
  --radius-2xl: 8px;
  --radius-xl: 6px;
  --radius-lg: 6px;
  --radius-md: 4px;
}

@layer base {
  body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    letter-spacing: -0.015em;
  }
}
